/**
                    input element styles CSS
**/
input[type=range].range-sliders {
    -webkit-appearance: none;
    width: 100%;
    margin: 8.5px 0;
  }
  input[type=range].range-sliders:focus {
    outline: none;
  }
  input[type=range].range-sliders::-webkit-slider-runnable-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 4.6px rgba(0, 0, 0, 0.04), 0px 0px 0.8px rgba(13, 13, 13, 0.04);
    background: rgba(0, 0, 0, 0.92);
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0);
  }  
  input[type=range].range-sliders::-webkit-slider-thumb {
    box-shadow: 1.6px 1.6px 2.5px #200031, 0px 0px 1.6px #31004b;
    border: 1.4px solid #000000;
    height: 18px;
    width: 10px;
    border-radius: 9px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -9.5px;
  }
  input[type=range].range-sliders:focus::-webkit-slider-runnable-track {
    background: rgba(33, 33, 33, 0.92);
  }
  input[type=range].range-sliders::-moz-range-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    box-shadow: 0.8px 0.8px 4.6px rgba(0, 0, 0, 0.04), 0px 0px 0.8px rgba(13, 13, 13, 0.04);
    background: rgba(0, 0, 0, 0.92);
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  input[type=range].range-sliders::-moz-range-thumb {
    box-shadow: 1.6px 1.6px 2.5px #200031, 0px 0px 1.6px #31004b;
    border: 1.4px solid #000000;
    height: 17px;
    width: 36px;
    border-radius: 9px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range].range-sliders::-ms-track {
    width: 100%;
    height: 0px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range].range-sliders::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.92);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0.8px 0.8px 4.6px rgba(0, 0, 0, 0.04), 0px 0px 0.8px rgba(13, 13, 13, 0.04);
  }
  input[type=range].range-sliders::-ms-fill-upper {
    background: rgba(0, 0, 0, 0.92);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    box-shadow: 0.8px 0.8px 4.6px rgba(0, 0, 0, 0.04), 0px 0px 0.8px rgba(13, 13, 13, 0.04);
  }
  input[type=range].range-sliders::-ms-thumb {
    box-shadow: 1.6px 1.6px 2.5px #200031, 0px 0px 1.6px #31004b;
    border: 1.4px solid #000000;
    height: 17px;
    width: 36px;
    border-radius: 9px;
    background: #ffffff;
    cursor: pointer;
    height: 0px;
  }
  input[type=range].range-sliders:focus::-ms-fill-lower {
    background: rgba(0, 0, 0, 0.92);
  }
  input[type=range].range-sliders:focus::-ms-fill-upper {
    background: rgba(33, 33, 33, 0.92);
  }
  