/*! HTML5 Boilerplate v7.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




 /* ==========================================================================
   Author's custom styles
   ========================================================================== */
   html, body, .grid-container { height: 100%; margin: 0; 
    font-family: 'Audiowide';
      font-size: 12px;
    }
    
    h1 {
      font-family: 'Audiowide';
      font-weight: bold;
      font-size: 18px;
    }

    hr.styled-hr {
      height: 6px;
      background: url(http://ibrahimjabbari.com/english/images/hr-12.png) repeat-x 0 0;
        border: 0;
    }
    
    .vertical-range {
      -webkit-appearance: slider-vertical;
      margin: 0;
      padding: 0;
      width: 0px;
      height: 80px;
      border: 1px solid #000;
    }

    .vertical-range::-webkit-slider-thumb {
        -webkit-appearance: slider-vertical;
        margin: 0;
        padding: 0;
        width: 10px;
        height: 10px;
        box-shadow: 1.6px 1.6px 2.5px #200031, 0px 0px 1.6px #31004b;
        border: 1.4px solid #000000;
        border-radius: 9px;
        background: #ffffff;
        cursor: pointer;
    }

    .volume-vertical-range {      
      -webkit-appearance: slider-vertical;
      margin: 0;
      padding: 0;
      width: 0px;
      height: 80px;
      border: 1px solid #000;
    }

    .volume-vertical-range::-webkit-slider-thumb {
        -webkit-appearance: slider-vertical;
        margin: 0;
        padding: 0;
        width: 10px;
        height: 10px;
        box-shadow: 1.6px 1.6px 2.5px #200031, 0px 0px 1.6px #31004b;
        border: 1.4px solid #000000;
        border-radius: 9px;
        background: #ffffff;
        cursor: pointer;
    }

    .wrapper {
        width: 100%;
        height: 100%;
        margin: auto;
    }
    
    .grid-container * { 
     /* debug border: 1px solid red;*/
     position: relative;
    }
    
    /*.grid-container *:after { 
     content:attr(class);
     position: absolute;
     top: 0;
     left: 0;
    }*/
    
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 0.2fr 1.8fr;
      grid-template-areas: "osc-1 osc-2 adsr-1 adsr-2" "osc-1 osc-2 adsr-1 adsr-2" "sequencer sequencer effects master";
    }
    
    .osc-1 {
      grid-area: osc-1;
      min-width: 256px;
      min-height: 500px;
    }
    
    .osc-2 {
      grid-area: osc-2;
      min-width: 256px;
      min-height: 500px;
    }
    
    .adsr-1 {
      grid-area: adsr-1;
      min-width: 256px;
      min-height: 500px;
    }
    
    .adsr-2 {
      grid-area: adsr-2;
      min-width: 256px;
      min-height: 500px;
    }
    
    .sequencer {
      grid-area: sequencer; 
      min-width: 512px;
    }
    
    .effects {
      grid-area: effects;
      min-width: 256px;
    }
    
    .master {
      grid-area: master;
      min-width: 256px;
    }
    
    table.ctrl-layout { 
      width: 95%;
      margin: auto;
    }

    table#seq-controls {
      table-layout: fixed;
      width: 512px;
    }
    
    #screen {
        float: left;
        margin: auto;
        margin-top: 20px; 
        height: 130px;
        width: 190px;
        border-radius: 12px;
        background-color: #000;
    }

 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}

 
/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

 
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

   @media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


